# Spotify API
SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret

# Kaggle
KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_key

# MinIO (used by Spark jobs inside Airflow)
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
